@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&display=swap");
@import "tailwindcss";

@layer base {
  html,
  body,
  #root {
    @apply fixed inset-0 h-full w-full bg-black;
  }

  body {
    @apply m-0 min-h-screen min-w-[320px];
  }
}
